* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "poppins", sans-serif;
    background-image: url(https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);
    background-size: cover;
    background-position: center center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    margin-top: -10rem;
    margin-left: 1rem;
    color: aliceblue;
}

.coundown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
    animation: infinite;
    animation-name: colour;
    animation-duration: 5s;
    animation-delay: -2s;
}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    color: aliceblue;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 2rem;
    color: aliceblue;
}

@keyframes colour {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: #9fc9dd;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}